html {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    background-color: #171717;
    color: aliceblue;
}

#imagens1 {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

#div {
    width: 100%;
    height: auto;
    text-align: center;
}

#linha {
    width: 50%;
    height: auto;
    text-align: center;
}