body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#logo-container {
    margin-right: auto;
    display: flex;
    width: 300px;
}

#logo {
    width: 40%;
    height: 50px;
    justify-content: start;
    padding: 10px 0px 10px 30px;
}

.itens{
    width: 600px;
}

.header {
    display: flex;
    background-color: #ffab10;
    text-align: center;
    color: white;
    justify-content: space-between;
}

#categorias {
    display: flex;
}

.categorie {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.section1 {
    background-color: #00000080;
    padding: 90px;
    text-align: center;
    color: white;
    background-image: url("IMAGENS/BANNER 01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section2 {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    color: black;
}

.section3 {
    background-color: #f39c12;
    padding: 50px;
    text-align: center;
    color: white;
}

.section4 {
    background-color: #e74c3c;
    padding: 50px;
    text-align: center;
    color: white;
}

footer {
    background-color: #95a5a6;
    padding: 20px;
    text-align: center;
    color: white;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
}